<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box-container">
        <section class="box box-image size-column-2-row-2"></section>
        <section class="box"></section>
        <section class="box"></section>
        <section class="box size-column-2-row-1"></section>
        <section class="box box-image size-column-1-row-2"></section>
        <section class="box"></section>
        <section class="box"></section>
        <section class="box"></section>
        <section class="box"></section>
        <section class="box"></section>
    </div>
</body>