@import url('style-dialog.css');

*{
    margin: 0;padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --box-background-color: rgb(241, 241, 241);
    
    --box-width: 3;
    --box-height: 3;
}

.box-container{
    --box-width-container: 50dvw;
    --box-gap-container: 20px;
    display: grid;
    grid-template-columns: repeat( var(--box-width) , 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    gap: var(--box-gap-container);
    width: var(--box-width-container);
}

.box{
    --box-column-size: 1;
    --box-row-size: 1;
    width: calc(( var(--box-width-container) / var(--box-width) ) - var(--box-gap-container));
    height: calc(( var(--box-width-container) / var(--box-height) ) - var(--box-gap-container));
    grid-column: auto/span var(--box-column-size);
    grid-row: auto/span var(--box-row-size);
    border-radius: 50px;
    word-wrap: break-word;
    background-color: var(--box-background-color);
}

.box--column-2-row-2{
    --box-width: 1.5;
    --box-height: 1.5;
    --box-column-size: 2;
    --box-row-size: 2;
}

.box--column-2-row-1{
    --box-width: 1.5;
    --box-height: 3;
    --box-column-size: 2;
    --box-row-size: 1;
}

.box--column-1-row-2{
    --box-width: 3;
    --box-height: 1.5;
    --box-column-size: 1;
    --box-row-size: 2;
}

.box--image{
    --box-background-image: url('https://images.unsplash.com/photo-1485550409059-9afb054cada4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=765&q=80');
    background-image: var(--box-background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box--interactive{
    transition: .3s cubic-bezier(0,0,.5,1);
    transition-property: scale , box-shadow;
    cursor: pointer;
}

.box--interactive:hover{
    transition: .3s cubic-bezier(0,0,.5,1);
    transition-property: scale , box-shadow;
    box-shadow: 0px 0px 50px -30px rgba(0, 0, 0, 1);
    scale: 1.01;
}

@media (max-width: 600px) {
    .box-container{
        grid-template-columns: 1fr !important;
    }
    .box{
        --box-width: 1 !important;
        --box-height: 1 !important;
        --box-column-size: 1 !important;
        border-radius: 25px !important;
    }
    .box--column-2-row-1{
        --box-height: 1.25 !important;
    }
    .box--column-1-row-2{
        --box-height: .75 !important;
    }
    .box--column-2-row-2{
        --box-height: .75 !important;
    }
}

@supports(view-transition-name: root){
    @keyframes experimental-view-transition-animation {
        from{ transform: translateY(100%);}
    }
    ::view-transition-new(root),
    ::view-transition-old(root){
        animation: 1s cubic-bezier(0, 0, 0.2, 1) both experimental-view-transition-animation;
    }
}