<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <article class="card-container">
        <a href="#" style="--card-image: url('https://images.unsplash.com/photo-1485550409059-9afb054cada4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=765&q=80');" class="card accordion" >
            <div 
            class="card-container-text">
                <h3 class="card-title">
                    Lorem, ipsum.
                </h3>
                <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus est doloremque, laudantium asperiores adipisci pariatur voluptatibus nihil nostrum delectus sint.
                </p>
            </div>
        </a>
    </article>
</body>